/* Variables  */
:root {
  --overlay: rgba(230, 36, 41, .4), rgba(230, 36, 41, .5);
  --dark: #151515;
  --light: #fff;
  --primary: #E62429;
  --primary-shade: #9F0013;
  --accent: #0052F5; 
  --header-font: 'Roboto Condensed', sans-serif;
  --body-font: 'Overpass', sans-serif;
}

/* General styles  */
body,
p,h1,h2,ul,span,h3 {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--dark);
  font-family: var(--body-font);
  font-size: 1.8rem; /*Fallback for older browsers */
  font-size: clamp(1.6rem, 1.1vw, 2rem);
  line-height: 1.4;

}

h1, h2, h3 {
  font-family: var(--header-font);
}

.wrapper {
  width: 85%;
  max-width: 1250px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: var(--light);
  transition: all .5s;

}

.btn {
  background: transparent;
  transition: all .2s ease-in;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  border: 2px solid var(--dark);
  padding: 5px 10px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  border: 2px solid var(--primary);
  background: var(--primary);
  color: white;
}

.btn:active {
  border: 2px solid var(--primary-shade);
  background: var(--primary-shade);
}

/*=========================================
Header Style
=========================================*/

.header {
  background: linear-gradient(var(--overlay)), url(./assets/marvel-banner.jpg) no-repeat scroll center /cover;
  min-height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--light);
  text-align: center;
  text-transform: uppercase;
  font-size: 8rem; /*Fallback for older browsers */
  font-size: clamp(6rem, 4vw, 10rem)
}

/*=========================================
Form Style
=========================================*/

fieldset {
  display: flex;
  justify-content: center;

  border: none;
  margin: 50px 0px;
}

.form__input {
  border: 2px solid var(--dark);
  margin: 0px 20px;
  padding: 7px 0px;
  height: 35px;
}

.form__input:focus {
  outline: 2px solid var(--primary);
}

/*=========================================
Result Style
=========================================*/

.hero-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  min-height: 35vh;
}

.hero-result__card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--primary);
  width: 30%; /*Fallback for older browsers */
  width: clamp(200px, 30% - 50px, 400px);
  margin: 25px;
  background: var(--light);
}

img {
  border-bottom: 1px solid black;
}

.hero-result__text-box {
  padding: 0px 10px;
}

h2 {
  margin: 10px 0px;
}

.hero-result__comics {
  display: block;
  margin-bottom: 10px;
}

.hero-result__description {
  margin-bottom: 10px;
}

.hero-result__link {
  display: inline-block ;
  margin-bottom: 10px;
  color: var(--primary);
}

.hero-result__link:hover,
.hero-result__link:focus {
  color: var(--primary-shade);
  font-weight: bold;
}

/*=========================================
Footer Style
=========================================*/

.footer {
  background: var(--dark);
  color: var(--light);
  padding: 10px 0px;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
}

.socials {
  display: flex;
}

.socials a {
  padding: 0px 10px;
  font-size: 2.2rem; /*Fallback for older browsers */
  font-size: clamp(2rem, 1.3vw, 2.4rem);
}

a:hover,
a:focus {
  color: var(--primary);
}

/*=========================================
Media Queries 
=========================================*/

@media (max-width: 600px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form__input {
    width: 100%;
    margin-bottom: 10px;
  }

  .btn {
    width: 100%;
  }

  .hero-result__card {
    width: 100%;
  }
}